template(name="game")
  .container
    .row
      .col-xs-2
        input.game-name
        button.create-game create
        ol.list-unstyled.game-list
          | Available Games
          .no-games No Games
          each games
            li.game-tile
              +game_tile

      .col-xs-6 game board placeholder
      .col-xs-4 chat client placeholder

template(name="game_tile")
  div(id=_id)
    div= name
    div
      | players
      = players.length
    button.remove-game remove
