template(name="game")
  .row
    .col-xs-2
      input.create-game-name
      button.create-game-button create
      ol.list-unstyled.game-list
        | Available Games
        .no-games.hidden No Games
        each games
          +game_tile
    .col-xs-10
      .game-content
        div= currentGame.name
        .game-board
          .current-player-tile.hidden
            +current_player_tile
        .player-list.hidden
          ul.list-unstyled
            | Players:
            each currentGame.players
              +player_tile
    //- .col-xs-4 chat client placeholder

template(name="game_tile")
  li.game-tile(id=_id)
    div= name
    div
      | players:
      = playerCount

template(name="player_tile")
  //- https://github.com/mquandalle/meteor-jade/issues/66
  //- if +ifEqual currentUser._id, currentGame.host
  //-   li.player-tile
  //-     = profile.displayName
  //-     | (Host)
  //- else
  //-   li.player-tile= profile.displayName
  li.player-tile
    = this.profile.displayName
    #leave-game.btn.btn-default leave


template(name="current_player_tile")
  .player-info
    div
      | Name:
      =currentUser.profile.displayName
    div
      | Money:
      =currentUser.profile.money
  .current-bet.hidden
    .current-bet-name
    input(type="text")
    button bet
