template(name="application")
  header
    +header
  .container-fluid
    if currentUser
      span= currentUser.profile.displayName
      if currentUser.profile.admin
        a(href="{{pathFor 'admin'}}") (Admin)
      a#edit(href='#') Edit
      | /
      a#sign-out(href='#') Sign out
      | /
      a(href="{{pathFor 'game'}}") Let's play some craps
    +yield
    .row.col-md-12.text-center
      ul#error.bg-danger
      ul#success.bg-success
  footer
    +footer

template(name="header")


template(name="footer")
