template(name="user")
  .row.col-md-12.text-center
    form(id="user-edit-form" action="action")
      .row.col-md-12.text-center
        h1 Eve Craps
      .row
        .col-md-6.text-center
          h2 Profile Info
          label
            | Email
            input(type="text" id="email" placeholder="email" value="{{emails.[0].address}}")
          br
          label
            | Character
            input(type="text" id="character" placeholder="character name" value="#{profile.character}")
          br
          label
            | Display Name
            input(type="text" id="displayName" placeholder="display name" value="#{profile.displayName}")
          if isAdmin
            br
            label
              | Money
              input(type="input" id="money" placeholder="#{profile.money}")
        .col-md-6.text-center
          h2 Password Info
          label
            | Password
            input(type="password" id="newPassword" placeholder="new password")
          br
          label
            | Old Password
            input(type="password" id="oldPassword" placeholder="old password")
      input.btn.btn-default(type="submit" value="edit" id=_id)
      a(href="{{pathFor 'game'}}")
