template(name="user_sign_up")
  .row
    .col-md-12.text-center
      h1 Eve Craps
      form(id="sign-up-form" action="action")
        input(type="text" id="email" placeholder="email")
        br
        input(type="text" id="confirmEmail" placeholder="confirm email")
        br
        input(type="password" id="password" placeholder="password")
        br
        input(type="password" id="confirmPassword" placeholder="confirm password")
        br
        input(type="text" id="character" placeholder="character name")
        br
        input(type="text" id="displayName" placeholder="display name")
        .row
          .col-md-12
            input.btn.btn-default(type="submit" value="Sign up")
            a.btn.btn-default(href="{{pathFor 'home'}}") Back
